{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block body %}
    <h1>Exercise index</h1>
        <form action="" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="inputCity">Exercises</label>
                        {% for batchedPositions in positions|batch(2) %}
                            <div class="form-row">

                                {% for position in batchedPositions %}
                                    <div class="form-group col-md-6">
                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div class="    card-header" id="heading{{ position }}">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ position }}" aria-expanded="true" aria-controls="collapse{{ position }}">
                                                            {{ position }}
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="collapse{{ position }}" class="collapse" aria-labelledby="heading{{ position }}" data-parent="#accordionExample">
                                                    <div class="card-body py-0"  >
                                                        {% for exercise in exercises %}
                                                            {% if exercise.position.id == position.id %}
                                                                <div class="form-group form-check my-0">
                                                                    <div class="row">
                                                                        <div class="col-2"></div>
                                                                        <div class="col-6">
                                                                            <label class="form-check-label" for="exampleCheck1">{{ exercise.name }}</label>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck{}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                {% endfor %}
                            </div>
                        {% endfor %}



                    {#{% for position in positions %}#}
                            {#<div class="accordion" id="accordionExample">#}
                                {#<div class="card">#}
                                    {#<div class="card-header" id="heading{{ position.id }}">#}
                                        {#<h2 class="mb-0">#}
                                            {#<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ position.id }}" aria-expanded="false" aria-controls="collapse{{ position.id }}">#}
                                                {#{{ position.name }}#}
                                            {#</button>#}
                                        {#</h2>#}
                                    {#</div>#}

                                    {#<div id="collapse{{ position.id }}" class="collapse" aria-labelledby="heading{{ position.id }}" data-parent="#accordionExample">#}
                                        {#<div class="card-body">#}
                                            {#{% for exercise in exercises %}#}
                                                {#{% if exercise.position.id == position.id %}#}
                                                    {#<div class="row">#}
                                                        {#<div class="col-2"></div>#}
                                                        {#<div class="col-6">{{ exercise.name }}</div>#}
                                                        {#<div class="col-4">tick</div>#}
                                                    {#</div>#}
                                                    {#  <ul class="my-0" class="mp  -0" style="list-style: none;">#}
                                                        {#<li>{{ exercise.name }}</li>#}
                                                    {#</ul>#}
                                                {#{% endif %}#}
                                            {#{% endfor %}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}
                </div>
            </div>
        </form>



{% endblock %}
