{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/go.css">
{% endblock %}

{% block body %}
<button class="btn-btn-primary" onclick="working()"></button>
    {#<div class="container">#}
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-8">
                        Work Seconds <br>
                        Rest Seconds <br>
                        Total Seconds <br>
                    </div>
                    <div class="col-4">
                        <div id="inputWork">{{ request.inputWork }}</div>
                        <div id="inputRest">{{ request.inputRest }}</div>
                        <div id="inputTotal">{{ request.inputTotal }}</div>
                    </div>
                </div>
                <br>
                {% for position in uniquePositionArray %}
                <div class="row">
                    <div class="col-4">
                    {{ position }}
                    </div>
                        <div class="col-8">


                            {% for key,value in exerciseArray %}
                                {% if value == position %}

                                        {{ key }}<br>

                                {% endif %}
                            {% endfor %}


                    </div>

                </div>
                {% endfor %}



                {#{% for exercise in exerciseArray %}#}
                    {#{{ exercise }}#}
                {#{% for exercise in exercises %}#}
                    {#{% if exercise.name == key %}#}
                        {#{{ exercise.position }}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
                    {#<br>#}
                {#{% endfor %}#}
                <div id="test" data-is-test="{{ exerciseArray|json_encode }}"></div>
                {%  dump exerciseArray %}
            </div>
            <div class="col-5">

                <p id="totalSeconds">00:00</p>
                <p class ="time" id="time">00:00</p>
                <p id="set">0 if 0</p>
                <p class ="work" id="workOrRest">Work</p>

                <p id="currentExercise">nothing yet</p>

                <button type="button" class="btn btn-primary" id="startStopBtn" onclick="startStop()">Start</button>
                <button type="button" class="btn btn-light" id="skipBtn" onclick="skip()">Skip</button>
                <button type="button" class="btn btn-light" id="logBtn">Log Workout</button>

            </div>
            <div class="col-4">
                3 of 3
            </div>
        </div>
    {#</div>#}
{% endblock %}
{% block javascripts %}
    <script src="{{ assets('build/go.js') }}"></script>
{% endblock %}