{% extends 'base.html.twig' %}

{% block title %}Exercise index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/go.css">
{% endblock %}

{% block body %}
<button class="btn-btn-primary" onclick="working()"></button>
    {#<div class="container">#}
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-8">
                        Work Seconds <br>
                        Rest Seconds <br>
                        Total Seconds <br>
                    </div>
                    <div class="col-4">
                        <div id="inputWork">{{ request.inputWork }}</div>
                        <div id="inputRest">{{ request.inputRest }}</div>
                        <div id="inputTotal">{{ request.inputTotal }}</div>
                    </div>
                </div>
                <br>
                {% for position in uniquePositionArray %}
                <div class="row">
                    <div class="col-4">
                    {{ position }}
                    </div>
                        <div class="col-8">


                            {% for key,value in exerciseArray %}
                                {% if value == position %}

                                        <div id="{{ key }}">{{ key }}</div>

                                {% endif %}
                            {% endfor %}


                    </div>

                </div>
                {% endfor %}



                {#{% for exercise in exerciseArray %}#}
                    {#{{ exercise }}#}
                {#{% for exercise in exercises %}#}
                    {#{% if exercise.name == key %}#}
                        {#{{ exercise.position }}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
                    {#<br>#}
                {#{% endfor %}#}
                <div id="test" data-test="{{ exerciseArray|json_encode }}"></div>
                {%  dump exerciseArray %}
            </div>
            <div class="col-5">
                <div class="work jumbotron jumbotron-fluid rounded-lg" id="timer">
                    <div class="container ">
                        <div class ="time d-flex justify-content-center font-weight-bolder" id="time">00:00</div>
                        <div class ="d-flex justify-content-center" id="currentExercise">nothing yet</div>
                        <div class ="d-flex justify-content-center" id="nextExercise">nothing yet</div>
                    </div>
                </div>


                <button type="button" class="btn btn-primary" id="startStopBtn" onclick="startStop()">Start</button>
                <button type="button" class="btn btn-light" id="skipBtn" onclick="skip()">Skip</button>
                <button type="button" class="btn btn-light" id="logBtn">Log Workout</button>

            </div>
            <div class="col-4">
                <div class ="d-flex justify-content-center" ><h1 id="totalSeconds">00:00</h1></div>
                <div class ="d-flex justify-content-center" id="set">0 if 0</div>
                <div class ="d-flex justify-content-center" id="workOrRest">Work</div>
            </div>
        </div>
    {#</div>#}
{% endblock %}
{% block javascripts %}
    <script src="{{ assets('build/go.js') }}"></script>
{% endblock %}