{% extends 'base.html.twig' %}

{% block title %}Catagory index{% endblock %}

{% block body %}
    <h1>Catagory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catagory in catagories %}
            <tr>
                <td>{{ catagory.id }}</td>
                <td>{{ catagory.name }}</td>
                <td>
                    <a href="{{ path('catagory_show', {'id': catagory.id}) }}">show</a>
                    <a href="{{ path('catagory_edit', {'id': catagory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('catagory_new') }}">Create new</a>
{% endblock %}
